venv
.python-version
.coverage
*.egg-info/
.eggs/
*.egg
*.pyc
__pycache__
docs/_build/
docs/_build_html/certs

# Deployment pipeline files
*secrets.yml
*.pem
credentials.yml

# Temporary directory
tmp/
